@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    background-color: white;
}

img {
    max-width: 100%;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(Imagenes/banner-.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: goldenrod;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18;
    padding: 20px;
    color: goldenrod;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: white;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h2 {
    font-size: 30px;
    color: white;
    line-height: 1.3;
    margin-bottom: 20px;
}

.header-txt span {
    color: goldenrod;
}

.header-txt p {
    font-size: 17px;
    color: white;
    margin-bottom: 30px;
}

.butons {
    display: flex;
}

.btn-1,
.btn-2,
.btn-3 {
    display: inline-block;
    padding: 11px 15px;
    border: 2px solid goldenrod;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: white;
}

.btn-1:hover {
    background-color: goldenrod;
}

.equipo {
    padding: 100px 0;
    text-align: center;

}

h2 {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}


p {
    color: white;
    font-size: 17px;
    text-align: left;
}

.equipo-content img {
    width: 200px;
}

.servicios-content {
    display: grid;
    grid-template-columns: repeat(3, 1rf);
    gap: 50px;
}

.servicio-1 {
    background-color: rgb(231, 202, 144);
}

.servicio.txt {
    padding: 50px 30px;
}


h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.btn-2 {
    padding: 5px 25px;
    background-color: goldenrod;
    margin-right: 0;
}

.contacto {
    padding: 150px 150px;
}

.contacto-content {
    background-color: floralwhite;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 10px 20px;
    background-color: goldenrod;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: black;
    font-size: 10px;
}

::placeholder {
    color: black;
    font-size: 10px;
}

.btn-3 {
    background-color: goldenrod;
    cursor: pointer;
    margin-right: 0;
}


.footer p {
    display: flex;
    text-align: center;
}

@media (max-widht:991px) {

    .menu {
        padding: 20px;
    }

    .menu-label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: goldenrod;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #1B1726;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .butons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .equipo {
        display: none;
    }

    .servicios {
        padding: 30px;
    }

    .servicios-content {
        grid-template-columns: repeat(1, 1rf);
        gap: 30px;
    }

    .servicio-1 img {
        width: 100%;
    }

    .contacto {
        padding: 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        background-color: goldenrod;
        flex-direction: column;
        text-align: center;
    }
}